li.kt-tab-title-active .kadence-blocks-tab-item__control-menu {
    display: flex;
}
.kt-tabs-title-list li.kt-tab-title-active {
    z-index: 4;
}
.kt-tabs-title-list li.kt-tab-title-active .kt-tab-title {
    background-color: #fff;
    border-color: #dee2e6;
}

.wp-block-kadence-tabs .kt-tabs-title-list li.kt-tab-title-active {
    z-index: 4;
    text-decoration: none;
    position: relative;
}
.wp-block-kadence-tabs .kt-tabs-title-list li.kt-tab-title-active .kt-tab-title {
    background-color: #fff;
    border-color: #dee2e6;
}

.kt-tabs-title-list li .kt-tab-title {
    padding: 8px 16px;
    display: flex;
    color: #444;
    align-items: center;
    border-style: solid;
    border-color: transparent;
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all .2s ease-in-out;
    box-shadow: none !important;
    outline: 0 !important;
}

#editor .block-editor-block-list__layout .kt-tabs-wrap .kt-tabs-title-list {
    padding: 30px 0 0 0;
    margin: 0;
    list-style: none;
}
.kt-tabs-title-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.kadence-blocks-tab-item__control-menu .components-icon-button, .kadence-blocks-tab-item__control-menu .components-button {
    color: white;
    padding: 0 !important;
    height: 20px;
}
.kadence-blocks-tab-item__control-menu {
    position: absolute;
    top: -24px;
    background: #0085ba;
    padding: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.kt-tabs-title-list li {
    position: relative;
}

.wp-block-kadence-tabs .kt-tabs-title-list li {
    margin: 0 4px -1px 0;
    cursor: pointer;
    list-style: none;
}

.kt-tabs-content-wrap {
    border: 1px solid #dee2e6;
    padding: 20px;
    text-align: left;
    position: relative;
}

.kt-tabs-wrap .wp-block-kadence-tab {
    border: 1px solid #dee2e6;
    padding: 20px;
    text-align: left;
}

.wp-block-kadence-tabs .block-editor-block-list__layout .block-editor-block-list__block {
    max-width: none !important;
}
.kt-tabs-content-wrap [data-type="hoora/tab"] {
    display: none;
}
.wp-block-kadence-tabs.kt-active-tab-1 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="1"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-2 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="2"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-3 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="3"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-4 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="4"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-5 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="5"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-6 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="6"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-7 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="7"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-8 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="8"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-9 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="9"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-10 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="10"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-11 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="11"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-12 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="12"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-13 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="13"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-14 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="14"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-15 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="15"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-16 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="16"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-17 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="17"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-18 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="18"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-19 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="19"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-20 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="20"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-21 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="21"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-22 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="22"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-23 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="23"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-24 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="24"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-25 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="25"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-26 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="26"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-27 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="27"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-28 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="28"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-29 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="29"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-30 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="30"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-31 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="31"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-32 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="32"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-33 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="33"] {
    display: block;
}
.wp-block-kadence-tabs.kt-active-tab-34 > .kt-tabs-wrap > .kt-tabs-content-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-tab="34"] {
    display: block;
}