.meow-faq-block {
	width: 100%;
	position: relative;
	margin-bottom: 1px;
	overflow: hidden;

	input {
		position: absolute;
		opacity: 0;
	}

	.meow-faq-question {
		position: relative;
		display: block;
		padding-left: 25px;
		cursor: pointer;
	}

	.meow-tab-answer {
		max-height: 0;
		overflow: hidden;
	}

	input:checked ~ .meow-tab-answer {
		max-height: inherit;
	}

	label::after {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		transition: all .35s;
	}

	input[type=checkbox] + label::after {
		content: "\25BC";
		transform: rotate(-90deg);
	}
	input[type=checkbox]:checked + label::after {
		transform: rotate(0deg);
	}	
}

// ICON THEME: BLUE WITH RIGHT OPENER
 .meow-faq-block {

	// Blue but white bg for the answer
	.meow-faq-question {
		background: #242a38;
		padding: 0.5em 1em;
		color: #fff;
	}

	.meow-tab-answer {
		background: white;
		color: rgb(94, 94, 94);

		.meow-tab-content {
			padding: 1em;
		}
	}

	// Plus Icon
	input[type=checkbox] + label::after {
		content: "+";
	}

	input[type=checkbox]:checked + label::after {
		transform: rotate(315deg);
	}

	// Icon on the right
	label::after {
		padding: 0.5em 1em;
		right: 0;
		left: inherit;
	}
}
